.post-related-container {
    width: 48%;
    margin: 10px 1%;
    height: 530px;
    overflow-y: auto;
    float: right;
}

.post-detail-container {
    width: 48%;
    margin: 10px 1%;
    float: left;
}

.card-container {
    width: 92% !important;
    margin: 10px 4% !important;
    padding: 5px !important;
}